<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">HealthyRoom &amp; Нова Ера</h2>
                <h3 class="section-subheading text-muted">HealthyRoom e част от Нова Eра HEALTH INDUSTRY GROUP. CO. LTD</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle image" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1980</h4>
                                <h4 class="subheading">Началото</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Китайската корпорация New Era – Холдинг е създадена през 1980 година.
                                    Това е било военно-промишлено предприятие в рамките на Министерството на отбраната на Китай.
                                    Корпорацията е под пряко подчинение на държавата,
                                    т.е. Държавните органи по надзор и управление и Комисията към Държавния съвет.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle image" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1995</h4>
                                <h4 class="subheading">New Era - индустрия за здравето</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">През 1995 г. министър-председателят на Китай ДжуЖунти дава указание,
                                    че боровият прашец е перспективно направление и за развитието му е необходимо да се отвори ново подразделение.
                                    За тази цел, на 18 юли 1995 г. е основана <b>New Era Health Industry.</b>
                                    Корпорация New Era Health Industry спада към високотехнологичните държавни предприятия, регистрирана е в държавната търговско-промишлена палата на Китай.
                                <b>Това е единственото държавното предприятие в Китай
                                    , занимаващо се с производство на продукти за здраве чрез директни продажби!!!</b></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle image" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2006</h4>
                                <h4 class="subheading">Guozhen – „Национално съкровище“</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted text-left">Компанията е <b>единствената</b>, която е получила държавни инвестиции в лиценза на директните продажби.
                                Нейните цели са да донесе здраве на цялото човечество.
                                <br>
                                Мотото е: <b> „Стани силен и помагай на другите да станат силни“
                                    <br> 
                                </b>Следвайки принципа
                                <b>„Здравето е по-скъпо от богатството“,</b>
                                
                                компанията е поела инициативата да запознава хората със здравословен начин на живот.
                                Kомпанията започва да произвежда продукти под марката <b>«Guozhen» – „Национално богатство“.</b></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle image" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2010</h4>
                                <h4 class="subheading">Guozhen – „Национално съкровище“</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted text-left">Компанията е <b>единствената</b>, която е получила държавни инвестиции в лиценза на директните продажби.
                                Нейните цели са да донесе здраве на цялото човечество.
                                <br>
                                Мотото е: <b> „Стани силен и помагай на другите да станат силни“
                                    <br> 
                                </b>Следвайки принципа
                                <b>„Здравето е по-скъпо от богатството“,</b>
                                
                                компанията е поела инициативата да запознава хората със здравословен начин на живот.
                                Kомпанията започва да произвежда продукти под марката <b>«Guozhen» – „Национално богатство“.</b></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle image" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>По настоящем</h4>
                                <h4 class="subheading">15 години на пазара</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Компанията оперира под мотото:

                                        <b>Здравето – перспективна индустрия,
                                        Екипът – щастливо семейство,
                                        Бизнесът – голяма сцена за развитие.</b>
                                    За 15 години компанията се е превърнала в корпорация с интегрирана структура, състояща се от такива звена като събиране на суровините, научноизследователска и развойна дейност, производство и логистика; компанията има четири дъщерни дружества и 31 филиала в Китай (1000 специализирани магазина под марката „Guozhen»).

Продукцията на компания New Era се ползва с признание за своето високо качество – носители на званието „Оздравителни продукти, специално за астронавтите и космонавтиката на Китай.“</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle image" src="https://i.pinimg.com/originals/e9/18/3b/e9183b12080572b267319ec40c75a6be.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>По настоящем</h4>
                                <h4 class="subheading">15 години на пазара</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Компанията оперира под мотото:

                                        <b>Здравето – перспективна индустрия,
                                        Екипът – щастливо семейство,
                                        Бизнесът – голяма сцена за развитие.</b>
                                    За 15 години компанията се е превърнала в корпорация с интегрирана структура, състояща се от такива звена като събиране на суровините, научноизследователска и развойна дейност, производство и логистика; компанията има четири дъщерни дружества и 31 филиала в Китай (1000 специализирани магазина под марката „Guozhen»).

Продукцията на компания New Era се ползва с признание за своето високо качество – носители на званието „Оздравителни продукти, специално за астронавтите и космонавтиката на Китай.“</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle image" src="https://iegpolicy.agribusinessintelligence.informa.com/-/media/agri-article-media/stock-images/flags/bulgarian_flag_719578174_1200px.jpg?w=790&hash=64D1C905CFB43E9031358E0FCB2A75A9CF8772D2" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>По настоящем</h4>
                                <h4 class="subheading">15 години на пазара</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Компанията оперира под мотото:

                                        <b>Здравето – перспективна индустрия,
                                        Екипът – щастливо семейство,
                                        Бизнесът – голяма сцена за развитие.</b>
                                    За 15 години компанията се е превърнала в корпорация с интегрирана структура, състояща се от такива звена като събиране на суровините, научноизследователска и развойна дейност, производство и логистика; компанията има четири дъщерни дружества и 31 филиала в Китай (1000 специализирани магазина под марката „Guozhen»).

Продукцията на компания New Era се ползва с признание за своето високо качество – носители на званието „Оздравителни продукти, специално за астронавтите и космонавтиката на Китай.“</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle image-firm" src="img/new-era.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>