<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Боров прашец</div>
            <div class="intro-heading text-uppercase">Станете част от нас</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">научи повече</a>
        </div>
    </div>
</header>