<section class="testimonials text-center" id="opinions">
    <div class="container">
        <h2 class="mb-5">Мнения</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14523147_1158496790865439_828006662148798312_n.jpg?_nc_cat=110&_nc_ohc=NVruZbDEbKkAQkY1UMjlFy94LKt9mBXyEkJYn7Hmjclvj1BxGA9Un-BIA&_nc_ht=scontent-otp1-1.xx&oh=d50981a3403e67c51d40895a16bf35ff&oe=5E7BE53A" alt="">
                    <h4>Георги Мартинов</h4>
                    <p class="large text-muted">"Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14523147_1158496790865439_828006662148798312_n.jpg?_nc_cat=110&_nc_ohc=NVruZbDEbKkAQkY1UMjlFy94LKt9mBXyEkJYn7Hmjclvj1BxGA9Un-BIA&_nc_ht=scontent-otp1-1.xx&oh=d50981a3403e67c51d40895a16bf35ff&oe=5E7BE53A" alt="">
                    <h4>Ивайло Панев</h4>
                    <p class="large text-muted">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14523147_1158496790865439_828006662148798312_n.jpg?_nc_cat=110&_nc_ohc=NVruZbDEbKkAQkY1UMjlFy94LKt9mBXyEkJYn7Hmjclvj1BxGA9Un-BIA&_nc_ht=scontent-otp1-1.xx&oh=d50981a3403e67c51d40895a16bf35ff&oe=5E7BE53A" alt="">
                    <h4>Владимир Димитров</h4>
                    <p class="large text-muted">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>