<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Нашият невероятен тийм</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/11033194_10206302126381095_656651861531599696_n.jpg?_nc_cat=107&_nc_ohc=PC-rxvTqErIAQl2xdiP4kUeibbW0gn7lAYh6MDIlTb2UJDV4T6urtMqcw&_nc_ht=scontent-otp1-1.xx&oh=853ada9740202e74fa66ae06f263dbf8&oe=5E859FBC" alt="">
                    <h4>Тодор Събев</h4>
                    <p class="text-muted">Хранене, спорт</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/48415946_2394096070603753_2927565879229022208_n.jpg?_nc_cat=111&_nc_ohc=vgwmWyXTXR0AQksaMZMulGh-bpqdY81L-QEMr3eRanFhsfNEp9mwZRh6g&_nc_ht=scontent-otp1-1.xx&oh=649f92bd07079afedd1d557c6908f08c&oe=5E80D60F" alt="">
                    <h4>Александър Мерсинков</h4>
                    <p class="text-muted">Мениджър</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14523147_1158496790865439_828006662148798312_n.jpg?_nc_cat=110&_nc_ohc=NVruZbDEbKkAQkY1UMjlFy94LKt9mBXyEkJYn7Hmjclvj1BxGA9Un-BIA&_nc_ht=scontent-otp1-1.xx&oh=d50981a3403e67c51d40895a16bf35ff&oe=5E7BE53A" alt="">
                    <h4>Артьом Торосян</h4>
                    <p class="text-muted">Инфлуенсър</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Онлайн медията и магазинът .....
                        е основан през 2019 от младия ни екип от ентусиасти.
                        Можем гордо да заявим, че всеки един човек от екипа ни е с повече от 10 години опит в сферата на спорта,
                        здравословният начин на живот, здравословно хранене, диетологията, изготвяне на спортни и хранителни режими,
                        изграждане на бизнес екипи и други. Силата, която толкова години ни държи заедно е сплотеността и екипната работа,
                        желанието за успех, нестихващият дух за откриване на нови и иновативни методи за доброто съжителство на тялото и духа и не на последно място приятелството.
                        Запазихме и доизградихме фирмена култура, основана на разбирането ни,
                        че бизнесът трябва да се основава на професионализъм, уважение и коректно отношение между страните, както и на стремеж към взаимна полезност и подкрепа.
                        Избрахме проекта на Нова Ера през 2019 година поради сходната ни визия за здравословен начин на живот и ценностната ни система.
                    </p></p>
            </div>
        </div>
    </div>
</section>