<section class="page-section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Продукти</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/img/products/pollen.jpg" alt="">
                            <div>
                                <h4 class="section-heading text-muted text-uppercase">БОРОВ ПРАШЕЦ "GUOZHEN" </h4>
                                <ol class="large text-muted">
                                    <li>Подобрява работата на сърдечно-съдовата система, укрепва кръвоносните съдовете, нормализира кръвното налягане</li>
                                    <li>Стимулира производството на инсулин, повишава стабилността на захарта</li>
                                    <li>Регулира функцията на стомашно-чревния тракт и проблеми с констипация ( запек )</li>
                                    <li>Възпрепятства появата на тумори, ефикасен при възстановителни процеси след радиационно поражение и химиотерапия</li>
                                    <span class="show-more-">
                                    <li>Подобрява работата на сърдечно-съдовата система, укрепва кръвоносните съдовете, нормализира кръвното налягане</li>
                                    <li>Стимулира производството на инсулин, повишава стабилността на захарта</li>
                                    <li>Регулира функцията на стомашно-чревния тракт и проблеми с констипация ( запек )</li>
                                    <li>Възпрепятства появата на тумори, ефикасен при възстановителни процеси след радиационно поражение и химиотерапия</li>
                                    </span>
                                </ol>
                            </div>
                            <a data-toggle="collapse" data-target="#viewdetails3">More... &raquo;</a></p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/products/bamboo.jpg" alt="">
                            <div>
                                <h4 class="section-heading text-muted text-uppercase">Бамбук "GUOZHEN" </h4>
                                <ol class="large text-muted">
                                        <li>Подобрява работата на сърдечно-съдовата система, укрепва кръвоносните съдовете, нормализира кръвното налягане</li>
                                        <li>Стимулира производството на инсулин, повишава стабилността на захарта</li>
                                        <li>Регулира функцията на стомашно-чревния тракт и проблеми с констипация ( запек )</li>
                                        <li>Възпрепятства появата на тумори, ефикасен при възстановителни процеси след радиационно поражение и химиотерапия</li>
                                        <span class="collapse" id="viewdetails3">
                                        <li>Подобрява работата на сърдечно-съдовата система, укрепва кръвоносните съдовете, нормализира кръвното налягане</li>
                                        <li>Стимулира производството на инсулин, повишава стабилността на захарта</li>
                                        <li>Регулира функцията на стомашно-чревния тракт и проблеми с констипация ( запек )</li>
                                        <li>Възпрепятства появата на тумори, ефикасен при възстановителни процеси след радиационно поражение и химиотерапия</li>
                                        </span>

                                    </ol>
                                </div>
                                <a data-toggle="collapse" data-target="#viewdetails3">More... &raquo;</a>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>

</div>
