<section class="bg-light page-section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Продукти</h2>
                <h3 class="section-subheading text-muted">
                    <strong class="text-uppercase">Продуктите на нова ера са изцяло природни.
                </strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 products-item">
                <a class="products-link" data-toggle="modal" href="#productsModal1">
                    <div class="products-hover">
                        <div class="products-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/products/pollen.jpg" alt="">
                </a>
                <div class="products-caption">
                    <h4>Боров Прашец</h4>
                    <p class="text-muted">“GUOZHEN”
                        </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 products-item">
                <a class="products-link" data-toggle="modal" href="#productsModal2">
                    <div class="products-hover">
                        <div class="products-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/products/bamboo.jpg" alt="">
                </a>
                <div class="products-caption">
                    <h4>БАМБУК НА ЗДРАВЕТО</h4>
                    <p class="text-muted">“GUOZHEN”
                        </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 products-item">
                <a class="products-link" data-toggle="modal" href="#productsModal3">
                    <div class="products-hover">
                        <div class="products-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/products/pollen_sashe.jpg" alt="">
                </a>
                <div class="products-caption">
                    <h4>Боров Прашец - Сашета</h4>
                    <p class="text-muted">“GUOZHEN”
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal 1 -->
<div class="products-modal modal fade" id="productsModal1" tabindex="-1" role="dialog"
    aria-labelledby="productsModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-11">
                            <!-- products Modal - Title -->
                            <h2 class="section-heading text-uppercase text-muted">Боров Прашец</h2>
                            <!-- Icon Divider -->
                            <!-- products Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/products/pollen-330x400.jpg" alt="">
                            <!-- products Modal - Text -->
                            <div id="info" style="text-align: left;" class="acc box"><p style="text-align: center;"><strong>БОРОВ ПРАШЕЦ таблетки * 108</strong></p>
                                <p>Използваният като суровина боров прашец в продукта се събира от незамърсени девствени планински райони на Китай. Добива се по естествен начин, след което се обработва на ниски температури, за да не се разруши клетъчната му стена. Крайният резултат е продукт с превъзходни качества, който е над 99% смилаем.</p>
                                <p><strong>Боровият прашец е изключително богат на витамини, минерали, аминокиселини, антиоксиданти и още куп ценни вещества.&nbsp;</strong><strong>В 3 гр., което е препоръчителната дневна доза (6 таблетки или 1 супена лъжица), се съдържат:</strong></p>
                                <ul>
                                <li>Бета Каротин - 8 mcg;</li>
                                <li>Витамин А - 3 mcg;</li>
                                <li>Витамин B1 (Тиамин) - 182 mcg;</li>
                                <li>Витамин B2 (Рибофлавин) - 15 mcg;</li>
                                <li>Витамин B3 (Ниацин) - 427 mcg;</li>
                                <li>Витамин B6 (Пиридоксин) - 39 mcg</li>
                                <li>Витамин B9 (Фолиева киселина) - 28 mcg;</li>
                                <li>Витамин C - 1686 mcg;</li>
                                <li>Витамин E - 97 mcg;</li>
                                <li>Витамин D - 7 mcg;</li>
                                <li>Желязо - 0.09 mg;</li>
                                <li>Калий - 33.9 mg;</li>
                                <li>Калций - 2.4 mg;</li>
                                <li>Магнезий - 3.3 mg;</li>
                                <li>Манган - 0.3 mg;</li>
                                <li>Селен - 0.6 mcg;</li>
                                <li>Фосфор - 89.6 mg;</li>
                                <li>Цинк - 0.09 mg;</li>
                                <li>Аланин - 17 mg;</li>
                                <li>Аргинин - 30 mg;</li>
                                <li>Аспартинова киселина - 33 mg;</li>
                                <li>Валин - 19 mg;</li>
                                <li>Глицин - 21 mg;</li>
                                <li>Глутаминова киселина - 47 mg;</li>
                                <li>Изолевцин - 16 mg;</li>
                                <li>Левцин - 25 mg;</li>
                                <li>Лизин - 24 mg;</li>
                                <li>Пролин - 26 mg;</li>
                                <li>Серин - 16 mg;</li>
                                <li>Тирозин - 11 mg;</li>
                                <li>Треонин - 15 mg;</li>
                                <li>Триптофан - 4 mg;</li>
                                <li>Фенилаланин - 17 mg;</li>
                                <li>Хистидин - 6 mg;</li>
                                <li>Цистеин - 3 mg.</li>
                                </ul>
                                <p>Боровият прашец съдържа още Алфа-линоленова киселина, Ензими, Инозитол, Кверцетин, Коензими, Лигнани, Монозахариди, МСМ, Нуклеинови киселини, Олеинова киселина, Полизахариди, Полифеноли, Проантоцианидини, Ресвератрол, Рутин, Супероксиддисмутаза (SOD), Флавоноиди, Фибри, Фитостероли.</p>
                                <p>Боровият прашец притежава адаптогенен характер, благодарение на който ще се погрижи за конкретните нужди на Вашия организъм и ще приложи действието си в областите, където е необходимо. Той е лек, който може да се приема продължително време без да окаже някакви странични ефекти.</p>
                                <p><strong>Ползи от приема на боров прашец:</strong></p>
                                <ul>
                                <li>засилва имунитета;</li>
                                <li>защитава организма от бактерии и вируси;</li>
                                <li>има силни противовъзпалителни свойства;</li>
                                <li>притежава антитуморно действие - съдържа стероид, активен срещу рака на простатата и гърдата, който възпрепятства и спира растежа на туморните клетки и тяхното мултиплициране;</li>
                                <li>помага за по-бързо възстановяване след химиотерапия;</li>
                                <li>регулира функциите на храносмилателната система и помага при запек;</li>
                                <li>повишава енергийните нива и премахва умората;</li>
                                <li>засилва паметта и концентрацията;</li>
                                <li>стимулира регенерацията на черния дроб;</li>
                                <li>подобрява дейността на сърдечно-съдовата система и понижава кръвното налягане;</li>
                                <li>укрепва стените на кръвоносните съдове;</li>
                                <li>намалява холестерола;</li>
                                <li>стимулира производството на инсулин и стабилизира нивата на кръвната захар;</li>
                                <li>влияе добре на костната система;</li>
                                <li>помага за превенция на дегенеративни състояния;</li>
                                <li>увеличава нивата на тестостерон в кръвта;</li>
                                <li>стимулира освобождаването на хормона на растежа;</li>
                                <li>влияе върху хормоналния баланс в човешкия организъм, регулирайки съотношението между андрогени и естрогени;</li>
                                <li>подобрява функцията на жлезите с вътрешна секреция;</li>
                                <li>регулира размера на простатната жлеза - намалява я в случаите, когато е уголемена, и я увеличава, когато е твърде малка или има опасност от атрофиране;</li>
                                <li>влияе благоприятно върху женското либидо и засилва удоволствието при сексуален акт;</li>
                                <li>подобрява плодовитостта;</li>
                                <li>помага за облекчаване на симптомите и дискомфорта през периода на менопауза.</li>
                                </ul>
                                <p><strong>Боровият прашец може да се прилага и външно:</strong></p>
                                <ul>
                                <li>успешно повлиява различни кожни проблеми - акне, екземи, подсичане, импетиго;</li>
                                <li>заздравява, хидратира и регенерира кожата;</li>
                                <li>притежава изразено анти-ейдж действие.</li>
                                </ul>
                                <p>Боровият прашец представлява жизненоважна суперхрана, която значително ще подобри хранителния ви режим и общото Ви здравословно състояние.</p>
                                <p><strong>Състав:</strong> боров прашец, декстрин, тръстикова захар.</p>
                                <p><strong>Начин на употреба:</strong><br>Приемайте по 3 таблетки 2 пъти дневно 30 минути преди хранене.</p>
                                <p><strong>Противопоказания:</strong><br>Не употребявайте продукта ако сте бременна, кърмите или имате алергия към някоя от съставките.</p>
                                <p><strong>Опаковка:</strong> 108 таблетки.</p>
                                <p><strong>Производител:</strong> NEW ERA HEALTH INDUSTRY GROUP CO. LTD., Китай.</p></div>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Затвори
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="products-modal modal fade" id="productsModal2" tabindex="-1" role="dialog"
    aria-labelledby="productsModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-11">
                            <!-- products Modal - Title -->
                            <h2 class="products-modal-title text-secondary text-uppercase mb-0">Бамбук</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- products Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/products/bamboo-330x400.jpg" alt="">
                            <!-- products Modal - Text -->
                            <div id="info" style="text-align: left;" class="acc box"><p style="text-align: center;"><strong>БАМБУК НА ЗДРАВЕТО таблетки * 108</strong></p>
                                <p>Бамбукът е едно от най-ценните растения в света. Прилага се като лекарствен продукт още отпреди 1500 години в Китай. Екстракт от листата му се използва като храна, антиоксидант, лекарство и козметично средство.<br>Клинично доказано е, че бамбукът неутрализира свободните радикали, влияе положително върху сърдечносъдовата система и мозъчната дейност, прочиства кръвоносните съдове и инхибира пероксидацията на липидите. Притежава силни имуностимулиращи свойства и помага на тялото да придобие устойчивост към факторите на околната среда.<br>Бамбукът може да се употребява както като храна, така и като лекарствен продукт. Листата му не са токсични, нямат вредни ефекти върху организма и не съдържат хормони или нехранителни вещества.<br>Изследванията сочат, че бамбукът съдържа аминокиселини, флавон, активен пептид, селен, манган и цинк. Основната функция на флавона е да регулира липидите в кръвта. Листата на дървото са ефективна и безопасна храна, която може да се използва като превантивна мярка срещу сърдечносъдови заболявания, има силни антиоксидантни свойства, действа енергизиращо и разкрасяващо, намалява възпаленията и подобрява съня.</p>
                                <p><strong>Ползи на екстракта от бамбукови листа за човешкия организъм:</strong></p>
                                <ul>
                                <li>Поддържа и укрепва имунната система;</li>
                                <li>Притежава противовирусно и антибактериално действие;</li>
                                <li>Втечнява и улеснява изкарването на бронхиалните секрети, като овлажнява кашлицата;</li>
                                <li>Лекува всички възпаления, благодарение на студената си Ин-природа;</li>
                                <li>Защитава сърдечно-съдовата система и укрепва стените на кръвоносните съдове;</li>
                                <li>Регулира кръвното налягане;</li>
                                <li>Регулира нивата на холестерол в кръвта;</li>
                                <li>Понижава липидите в кръвта;</li>
                                <li>Предотвратява образуването на кръвни съсиреци - основно свойство на Лактоновата група на кумарините;</li>
                                <li>Регулира нивата на кръвната захар;</li>
                                <li>Притежава мощно антиоксидантно действие;</li>
                                <li>Повишава активността на ензима Супер Оксид Дисмутаза;</li>
                                <li>Подобрява микроциркулацията, мозъчното кръвообращение и паметта;</li>
                                <li>Помага при безсъния;</li>
                                <li>Предпазва и възстановява черния дроб;</li>
                                <li>Предотвратява развитието на рак;</li>
                                <li>Стимулира уринирането;</li>
                                <li>Предпазва от стареене, като подмладява клетките и елиминира натрупаните в тях токсини.</li>
                                </ul>
                                <p><strong>Състав:</strong> Екстракт от бамбукови листа, ксантан, нишесте, микрокристална целулоза (МКЦ), магнезиев стеарат.<br><em><strong>Хранителната добавка е произведена от изцяло натурални суровини, не съдържа хормони и няма нежелани странични ефекти.</strong></em></p>
                                <p><strong>Начин на употреба:</strong><br><strong>Възрастни:</strong> приемайте по 3 таблетки 2 пъти дневно (сутрин и вечер) 30 минути преди хранене.</p>
                                <p><strong>Противопоказания:</strong><br>Не употребявайте продукта ако сте бременна, кърмите или имате алергия към някоя от съставките.</p>
                                <p><strong>Опаковка:</strong> 108 таблетки.</p>
                                <p><strong>Производител:</strong> NEW ERA HEALTH INDUSTRY GROUP CO. LTD., Китай.</p></div>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Затвори
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="products-modal modal fade" id="productsModal3" tabindex="-1" role="dialog"
    aria-labelledby="productsModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-11">
                            <!-- products Modal - Title -->
                            <h2 class="products-modal-title text-secondary text-uppercase mb-0">Боров прашец</h2>
                            <h4 class=" text-muted">сашета</h4>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- products Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/products/pollen_sashe-330x400.jpg" alt="">
                            <!-- products Modal - Text -->
                            <div class="" style="text-align: left;">


                                <div class="">
                                    <p><strong>Чистият боров прашец се ползва за лечение на хронични болести и тумори. Съдържа около 20 аминокиселини, 7 от които незаменими, повече от 30 микро- и макро елементи, около 100 ензими и коензими. Източник на естествени витамини и минерали.</strong></p>

<p>Използваният като суровина боров прашец в продукта се събира от незамърсени девствени планински райони на Китай. Добива се по естествен начин, след което се обработва на ниски температури, за да не се разруши клетъчната му стена. Крайният резултат е продукт с превъзходни качества, който е над 99% смилаем.</p>
<p>Боровият прашец притежава адаптогенен характер, благодарение на който ще се погрижи за конкретните нужди на Вашия организъм и ще приложи действието си в областите, където е необходимо.&nbsp;</p>
<p>Чистият боров прашец се ползва за лечение на хронични болести и ракови състояния, като тумор на дебелото черво, рак на простата, тумор на гърдата.</p>

<p>Най-добрият избор, който може да направите, за да имате силна имунна система. В азиатските култури е описван като мощен адаптоген и един от най-добрите източници на енергия.</p>
<p><strong></strong></p>
<ul>
<li><strong>Боров</strong><strong>ият</strong><strong> прашец</strong> повишава енергийните нива и премахва умората - съдържа балансиран набор от хранителни вещества, необходими за бързо и надеждно отстраняване на умората. Той е полезен за възрастни и хора на средна възраст, както и за такива, изпълняващи тежък физическа труд. В допълнение, проучвания, проведени от Центъра за контрол на допинг на Китайския олимпийски комитет, показат, че боровият прашец не съдържа забранени компоненти. Следователно, той е <strong>идеален стимулант за АТЛЕТИ</strong>.</li>
</ul>
<p></p>
<ul>
<li><strong>Боров</strong><strong>ият</strong><strong> прашец</strong> забавя стареенето - съдържа голямо количество антиоксиданти като витамин С, каротин, микроелементи като селен и др., всеки от които може да ограничи прекомерното окисляване на липидите и протеините и съответно да забави процеса на стареене. С продължителен прием на боров прашец можете да премахнете сенилните плаки (извънклетъчни струпвания на амилоид в сивото вещество на мозъка, предизвикващо дегенерация на нервните клетки и нарушаване на мозъчната функция), да възстановите жизнеността си, да забавите стареенето и да удължите живота си.</li>
</ul>
<p></p>
<ul>
<li><strong>Боровият прашец</strong> предотвратява стареенето на кожата и повишава нейната еластичност, лекува и я овлажнява. Затова боровият прашец се нарича „ядлива козметика“. Боровият прашец е богат на аминокиселини, които могат да се абсорбират от клетките на кожата, съдържа естествени витамини и минерали и много видове ензими. По-специално, комбинацията от витамини C, E, B комплекс, съдържащи се в боров прашец, може да активира клетките и да поддържа високо ниво на активност на супероксид дисмутаза (СОД - антиоксидантен ензим, произвеждан в човешкото тяло, който обезврежда свободните радикали, предотвратявайки вредните последствия върху клетките и тъканите). Следователно, боровият прашец е в състояние да елиминира свободните радикали, инхибира образуването на пигментни и старчески петна, избелва кожата и ѝ придава здрав вид. Боровият прашец намалява и елиминира луничките, а също така прави косата блестяща и пищна. Използването на боров прашец в козметични маски с добавка на яйчен жълтък, растително масло, мед ще донесе огромни ползи за кожата.</li>
</ul>
<p></p>
<ul>
<li><strong>Боровият прашец</strong> съдържа около сто ензима, които могат да стимулират функцият на червата, да подобрят апетита и да подпомогнат храносмилането. Има регулаторен ефект върху функцията на стомашно-чревния тракт. Боровият прашец може да лекува запек поради богатите си хранителни свойства. Приемът на боров прашец може бързо да премахне запека, причинен от диспепсия (термин обобщаващ различни проблеми при разграждането на храната в стомашно-чревния тракт) и заболяване на горните храносмилателни пътища, тъй като премахва смущенията във функциите на стомашно-чревния тракт.</li>
</ul>
<p></p>
<ul>
<li><strong>Боровият прашец</strong> осигурява нормалното функциониране на чернодробните клетки, нормализира секрецията на жлъчката и помага на черния дроб да се справи с токсините. Много експерименти потвърждават, че боровият прашец е в състояние да защити чернодробните клетки. Освен това приемането на боров прашец след употреба на алкохол подпомага черния дроб да се възстанови</li>
</ul>
<p></p>
<ul>
<li><strong>Боровият прашец</strong> подпомага работата на сърцето и кръвоносните съдове, подобрява метаболизма и регулира ендокринната система. Магнезият, съдържащ се в боровия прашец, не само активира ензимната система, но и служи като носител на някои хранителни вещества. Флавоноидите, съдържащи се в боровия прашец, могат значително да намалят кръвните липиди и холестерола. Витамините повишават еластичността на стените на кръвоносните съдове и подобряват микроциркулацията в сърцето и мозъка.</li>
</ul>
<p></p>
<ul>
<li><strong>Боровият прашец</strong> е подходящ за лечение на заболявания на простатата – съдържа протеини, витамини, микроелементи, флавоноиди и др. Тези вещества подобряват цялостно организма, регулирайки много функции на тялото, осигуряват балансирана диета, засилват метаболизма, свободно преминавайки през клетъчната стена, поради малкия размер на молекулата на боровия прашец. Прашец също така стимулира действието на жлезите с вътрешната секреция, следователно играе важна роля за изцелението на заболявания, причинени от дисфункция на ендокринната система. Веществата, съдържащи се в прашеца, могат да подобрят притока на кръв в тъканите на простатата, да намалят подуването и запушването на уретрата, причинено от простатна хиперплазия (ненормално количествено увеличение на клетките). Флавоноидите, съдържащи се в боровия прашец, имат силна антиоксидантна способност, което също допринася за подобряване състоянието на простатата.</li>
</ul>
<p></p>
<ul>
<li><strong>Боровият прашец</strong> е не само много ценен хранителен продукт, но и отлично лечебно средство при диабет. Съдържащите се в прашеца витамини, микроелементи и макроелементи защитават клетките на панкреаса, стимулират производството на инсулин и регулират нивата на кръвната захар. Според последните проучвания приемът на борови полени е безопасна и ефективна диетична терапия за пациенти с диабет.</li>
</ul>
<p></p>
<ul>
<li><strong>Боровият прашец</strong> има неочакван лечебен ефект при различни заболявания, като настинки, анемия, хипертония, астма, ринит и др., Поради факта, че е естествен източник на хранителни вещества, повишава имунитета. При външна употреба, може да се използва като хемостатично и лечебно средство при рани и ожулвания и <strong>атопичен</strong> <strong></strong><strong>дерматит</strong> при деца. Това е не само вълшебно лекарство за всякакви рани и язви, но и отлично средство за грижа за нежната бебешка кожа.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Ползи от приема на боров прашец:</strong></p>
<ul>
<li>укрепва имунната система, като осигурява защита срещу вируси и бактерии;</li>
<li>осигурява защита, възстановяване и нормално функциониране на черния дроб;</li>
<li>има уникален лечебен ефект при заболявания на дихателните пътища (включително туберкулоза);</li>
<li>регулира стомашно-чревния тракт, лекува запек от различно естество;</li>
<li>подобрява сърдечно-съдовата система, укрепва кръвоносните съдове, намалява кръвното налягане;</li>
<li>регулира функцията на ендокринната система;</li>
<li>силен антиоксидант е и лесно отстранява токсините от тялото;</li>
<li>притежава антитуморно действие - подтиска растежа на туморните клетки и тяхното мултиплициране, подпомага бързо се възстановява след химиотерапия, помага при онкология;</li>
<li>помага при заболявания на простатата и импотентност;</li>
<li>забавя стареенето, възстановява жизнеността и удължава активния живот;</li>
<li>стимулира производството на инсулин, регулират нивата на кръвната захар;</li>
<li>облекчава умората, дава сила и енергия;</li>
<li>лекува, овлажнява и подмладява кожата;</li>
<li>запълва дефицита на аминокиселини, витамини и минерали,</li>
<li>подпомага хормоналния баланс, регулирайки съотношението между андрогени и естрогени;</li>
<li>засилва паметта и концентрацията;</li>
<li>Ускорява метаболизма;</li>
<li>Спомага за облекчаване на симптомите и дискомфорта през периода на менопауза.</li>
</ul>
<p>Боровият прашец може да се прилага и външно:</p>
<ul>
<li>Успешно повлиява различни кожни проблеми - акне, екземи, подсичане, импетиго;</li>
<li>Заздравява, хидратира и регенерира кожата;</li>
<li>Притежава изразено анти-ейдж действие.</li>
</ul>
<p>Боровият прашец представлява жизненоважна суперхрана, която значително ще подобри общото Ви здравословно състояние.</p>
                                </div>
                                
                            </div>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Затвори
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>